@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap'); /* Importando fonte para o projeto */

* { /*Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
body {
    background-color: #FEFDF9;
    padding: 90px 0 90px 0;
}
main {
    width: 1440px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
header nav a {
    color: hsl(236, 13%, 42%);
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
    margin-left: 40px;
}
header nav a:hover {
    text-decoration: underline;
}

.imagemPrincipal {
    width: 68%;
    height: 400px;
    background-image: url(../imagens/image-web-3-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
}
.sessaoPrincipal {
    position: relative;
}
.sessaoSecundaria {
    width: 30%;
    height: 100%;
    padding: 35px 30px 0px 30px;
    position: absolute;
    right: 0px;
    display: inline-block;
    vertical-align: top;
    background-color: hsl(240, 100%, 5%);
}
.sessaoSecundaria h2 {
    color: hsl(35, 77%, 62%);
    font-size: 50px;
    margin-bottom: 30px
}
.curiosidades {
    margin-top: 15px;
    margin-bottom: 40px;
    border-bottom: 0.5px groove hsl(233, 8%, 79%);
}
.curiosidades p {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 30px;
    line-height: 25px;
}
.curiosidades h3 {
    color: white;
    font-size: 25px;
}
.curiosidades p {
    color: hsl(233, 8%, 79%);
}
#ultimaCuriosidade {
    border: none;
    margin-bottom: 0px;
}
.futuroWeb {
    width: 68%;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
.futuroWeb h2 {
    font-size: 70px;
    font-weight: 800;
    width: 400px;
    line-height: 70px;
   
}
.saibaMais {
    padding-right: 10px;
}
.saibaMais p {
    color: hsl(236, 13%, 42%);
    line-height: 28px;
    font-size: 17px;
    width: 400px;
    position: relative;
    
}
.saibaMais button {
    background-color: hsl(5, 85%, 63%);
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 20px 40px;
    font-size: 18px;
    letter-spacing: 4px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.informacoesAdicionais {
    margin-left: 20px;
    
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.informacoesAdicionais h3 {
    font-size: 40px;
    color: hsl(233, 8%, 79%);
    
}
.informacoesAdicionais h4 {
    font-size: 22px;
    font-weight: 800;
   
}
.informacoesAdicionais p {
    font-size: 18px;
    line-height: 25px;
    color: hsl(236, 13%, 42%);
    width: 250px;
}