@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap'); /* Importando fonte para o projeto */

* { /*Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(36, 100%, 99%);
}
.container {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    margin-top: 70px;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_navegacao .links {
    font-size: 20px;
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    margin-left: 70px;
}
.menu_navegacao .links:hover {
    text-decoration: underline;
}
.conteudo_principal{
    position: relative;
    width: 1440px;
    margin-top: 60px;
}
.imagem_principal{
    width: 63%;
    height: 380px;
    background-image: url('../imagens/image-web-3-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.informacoes {
    display: flex;
    margin-top: 40px;
    width: 63%;
    justify-content: space-between;
}
.titulo_informacoes {
    width: 40% ;
    font-size: 65px;
    font-weight: bolder;
    font-weight: 800;
}
.saiba_mais {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 47%;
}
.saiba_mais p {
    justify-content: left;
    font-size: 18px;
    line-height: 25px;
}
.saiba_mais .leia_mais{
    width: 230px;
    background-color: hsl(5, 85%, 63%);
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 20px 29px;
    margin-top: 40px;
}
.sessao_new {
    padding: 50px 35px 0px 35px;
    position: absolute;
    top: 0;
    right: 0;
    width: 34.5%;
    background-color: hsl(240, 100%, 5%);
    height: 100%;
}
.titulo_new {
    color: hsl(35, 77%, 62%);
    font-size: 50px;
}
.informacoes_adicionais {
    border-bottom: 1px groove hsl(233, 8%, 79%);
    margin-top: 30px;
}
.informacoes_adicionais h4{
    font-size: 25px;
    color: white;
}
.informacoes_adicionais p {
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 25px;
    color: hsl(233, 8%, 79%);
}
.pergunta_final {
    margin-top: 30px;
}
.pergunta_final h4 {
    font-size: 25px;
    color: white;
}
.pergunta_final p {
    font-size: 20px;
    margin-top: 20px;
    color: hsl(233, 8%, 79%);
}
.rodape {
    display: flex;
    margin-top: 100px;
}
.caixas {
    display: flex;
    justify-content: space-between;
}
.curiosidades {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 0px 20px;
}
.curiosidades h5 {
    color: hsl(233, 8%, 79%);
    font-size: 40px;
}
.curiosidades h6 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 800;
    color: hsl(240, 100%, 5%);
}
.curiosidades p {
    margin-top: 20px;
    font-size: 16px;
}
.afastamento {
    margin-right: 40px;
}

/* INICIANDO RESPONSIVIDADE*/

@media screen and (max-width: 550px){
    * { /*Reset CSS */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inter';
    }
    body {
        height: 100vh;
        width: 100vw;
        background-color: hsl(36, 100%, 99%);
    }
    .container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 40px 25px 0px 25px;
    }
    .cabecalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu_navegacao .links {
        display: none;
    }
    .menu_navegacao {
        background-image: url('../imagens/icon-menu.svg');
        width: 40px;
        height: 17px;
    }
    .conteudo_principal{
        position: static;
        width: 100%;
        margin-top: 0px;
    }
    .imagem_principal{
        width: 100%;
        background-image: url('../imagens/image-web-3-mobile.jpg');
        background-size: contain;
    }
    .informacoes{
        display: flex;
        flex-direction: column;
        width:100%;
        margin-top: -5px;
    }
    .titulo_informacoes{
        width: 100% ;
        font-size: 40px;
        font-weight: bolder;
        font-weight: 800;
    }
    .saiba_mais {
        width: 100%;
    }
    .saiba_mais p {
        margin-top: 30px;
        line-height: 30px;
        word-spacing: 1.8px;
    }
    .saiba_mais .leia_mais{
        margin-top: 25px;
    }
    
    .sessao_new {
        padding: 50px 35px 20px 35px;
        position: static;
        top: 0;
        right: 0;
        width: 34.5%;
        background-color: hsl(240, 100%, 5%);
        width: 100%;
        margin-top: 50px;
    }
    .rodape {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        padding-bottom: 80px;
    }
    .caixas {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .afastamento{
        margin-right: 0px;
    }
}
 