@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap'); /* Importando fonte para o projeto */

* { /*Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(36, 100%, 99%);
}
.container {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    margin-top: 70px;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_navegacao .links {
    font-size: 20px;
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    margin-left: 30px;
}
.menu_navegacao .links:hover {
    text-decoration: underline;
}
.conteudo_principal{
    width: 1440px;
    height: 100%;
}
.imagem_principal{
    width: 70%;
    height: 30%;
    background-image: url('../imagens/image-web-3-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

